:root {
  --text-color: black;
  --website-background-color: #fcf9ee;
  --main-container-height: 90vh;
  --footer-height: 10vh;
}

html {
  color: var(--text-color);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--website-background-color);
  padding: 0;
  margin: 0;
}

footer {
  height: var(--footer-height);
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  font-size: 0.75rem;
}

main.container {
  padding: 1.5rem;
  height: 100%;
  flex-flow: column wrap;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}

.btn {
  width: 100%;
}

.btn-encounter {
  height: 3rem;
}

.action-group {
  flex-basis: calc(100% - (60% + 1rem));
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

#base-container {
  display: flex;
  flex-flow: row wrap;
}

#main-container {
  flex-basis: 100%;
  height: var(--main-container-height);
}

#main-header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-basis: 60%;
}

#main-header > h1,
p {
  font-family: adobe-garamond-pro, serif;
  display: inline-block;
  margin: 0;
}

#main-title {
  font-weight: 700;
  font-size: 3.5rem;
}

#main-subtitle {
  font-size: 0.75rem;
}
