:root {
  --text-color: black;
  --website-background-color: #fcf9ee;
  --main-container-height: 90vh;
  --footer-height: 10vh;
}

html {
  color: var(--text-color);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--website-background-color);
  padding: 0;
  margin: 0;
}

footer {
  height: var(--footer-height);
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  font-size: 0.75rem;
}

main.container {
  height: 100%;
  flex-flow: column wrap;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}

.btn {
  width: 100%;
}

.action-group {
  flex-basis: calc(100% - (55% + 1rem));
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 1em;
  gap: 5%;
}

.action-group > button {
  color: white;
  min-height: 3.5rem;
  flex-basis: 33%;
  background-clip: border-box;
}

#regular-encounter {
  background-image: url('https://i.pinimg.com/originals/72/f5/79/72f579e368e91c7c09412481deb6109b.jpg');
  background-position: 110% 10%;
  background-size: 150%;
}

#boss-encounter {
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/009/775/047/large/sarayu-ruangvesh-sarayu-ruangvesh-ornstein-and-smaug.jpg');
  background-position: 0% 33%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#base-container {
  display: flex;
  flex-flow: row wrap;
}

#main-container {
  flex-basis: 100%;
  height: var(--main-container-height);
}

#main-header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-basis: 55%;
}

#main-header > h1,
p {
  font-family: adobe-garamond-pro, serif;
  display: inline-block;
  margin: 0;
}

#main-title {
  font-weight: 700;
  font-size: 3.5rem;
}

#main-subtitle {
  font-size: 0.75rem;
}
